@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  background-color: #e4e9fd;
  background-image: linear-gradient(331deg, #40a0ec, #dcdcdc);
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(205, 91, 227, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(205, 91, 227, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(205, 91, 227, 1) 100%
  );
}

nav .brand {
  margin-left: 20px;
  margin-top: 5px;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

nav form {
  display: flex;
  margin-right: 20px;
}

.btn {
  text-align: center;
  width: 5.5rem;
  height: 2.5rem;
  color: white;
  font-size: 1rem;
  background-color: palevioletred;
  box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #db648c;
}
